run_command = "bash run.sh"
module_requirement = ["nodejs-20:v8-20230920-bd784b9"]
ignore_files = [".config", "package-lock.json"]

code_information = {
    "run": run_command,
    "modules": module_requirement,
    "hidden": ignore_files
}
